*{
  margin: 0;
  padding: 0;
  }

.nav-item{
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration:none;
}

main {
  background: #F2F4FD;
  width: 55vw;
}

aside {
  width: 45vw;
  background: linear-gradient(221deg, #EB3850 14.43%, #CB162E 85.28%);
}

aside button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #FFF;
}

.card-img {
  width: 50%;
  height: 50%;
}

#header-aside {
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 5rem;
}

#card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

a{
  text-decoration: none;
  color: #333;
}
li a {
  display: flex;
  flex-direction: row;
}
#main h1, h2 {
  color: #E51D37;
  font-size: 2.5rem;
  font-family: 'Sora', sans-serif;
}

#main p {
  color: #333;
}

#main div {
  padding-top: 2rem;
}

.red-down {
  color: #EB3850;
}
ul{
  width:80%;
  padding-left: 20%;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main button {
  border-radius: 4px;
  background: linear-gradient(221deg, #EB3850 14.43%, #CB162E 85.28%);
}
#main {
  display: flex;
  flex-direction: column;
  padding: 8rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 5rem;
}

#main div {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
#first-box {
  display: flex;
  flex-direction: row;
}